In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd       
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score
from sklearn.ensemble import RandomForestRegressor
fbp = pd.read_csv('credit_train.csv')

In [2]:
df = pd.DataFrame(fbp)
df.isna().sum()

Loan ID                           514
Customer ID                       514
Loan Status                       514
Current Loan Amount               514
Term                              514
Credit Score                    19668
Annual Income                   19668
Years in current job             4736
Home Ownership                    514
Purpose                           514
Monthly Debt                      514
Years of Credit History           514
Months since last delinquent    53655
Number of Open Accounts           514
Number of Credit Problems         514
Current Credit Balance            514
Maximum Open Credit               516
Bankruptcies                      718
Tax Liens                         524
dtype: int64

In [3]:
df=df.dropna()

In [4]:
df = df.reset_index(drop=True)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36423 entries, 0 to 36422
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       36423 non-null  object
 1   Customer ID                   36423 non-null  object
 2   Loan Status                   36423 non-null  object
 3   Current Loan Amount           36423 non-null  float64
 4   Term                          36423 non-null  object
 5   Credit Score                  36423 non-null  float64
 6   Annual Income                 36423 non-null  float64
 7   Years in current job          36423 non-null  object
 8   Home Ownership                36423 non-null  object
 9   Purpose                       36423 non-null  object
 10  Monthly Debt                  36423 non-null  float64
 11  Years of Credit History       36423 non-null  float64
 12  Months since last delinquent  36423 non-null  float64
 13  Number of Open Accounts       36423 non-null  float64
 14  Number of Credit Problems     36423 non-null  float64
 15  Current Credit Balance        36423 non-null  float64
 16  Maximum Open Credit           36423 non-null  float64
 17  Bankruptcies                  36423 non-null  float64
 18  Tax Liens                     36423 non-null  float64
dtypes: float64(12), object(7)
memory usage: 5.3+ MB
None

In [6]:
target_var = df['Credit Score']
df1 = df.copy()
df1 = df1.drop('Credit Score', axis =1)

In [7]:
X = df1
X
y=target_var

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size = 0.2)

In [12]:
numeric_var=list(X.dtypes[X.dtypes!= "object"].index)
X[numeric_var].head()

,Current Loan Amount,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,99999999.0,2231892.0,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
1,217646.0,1184194.0,10855.08,19.6,10.0,13.0,1.0,122170.0,272052.0,1.0,0.0
2,548746.0,2559110.0,18660.28,22.6,33.0,4.0,0.0,437171.0,555038.0,0.0,0.0
3,99999999.0,714628.0,11851.06,16.0,76.0,16.0,0.0,203965.0,289784.0,0.0,0.0
4,99999999.0,776188.0,11578.22,8.5,25.0,6.0,0.0,134083.0,220220.0,0.0,0.0

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X[numeric_var] , y, test_size = 0.2)

In [14]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [21]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=100, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [20]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 666.1014605353465
Mean Squared Error: 2118143.813870638
Root Mean Squared Error: 1455.38442133707

In [22]:
model = RandomForestRegressor()
model.fit(X_train,y_train)

RandomForestRegressor()

In [25]:
import math
y_hat = model.predict(X_train)
mae = metrics.mean_absolute_error(y_train,y_hat)
mse = metrics.mean_squared_error(y_train,y_hat)
print ("TRAINING SET")
print ("============")
print ("MAE:                ", mae)
print ("RMSE:               ", math.sqrt(mse))
print ("r2:                 ", model.score(X_train,y_train))
print ("feature_importances:",model.feature_importances_)
print ("n_features:         ",model.n_features_)
print ("n_outputs:          ",model.n_outputs_)

TRAINING SET
============
MAE:                 244.82266387535176
RMSE:                540.8333519754034
r2:                  0.858812850043742
feature_importances: [0.14870675 0.14532449 0.14227381 0.11537752 0.09502173 0.06738513
 0.00955782 0.12893858 0.13232407 0.00935204 0.00573806]
n_features:          11
n_outputs:           1
last column (% Iron Concentrate) is the highest feature_importances

In [26]:
# Use test and show results of test set

y_hat = model.predict(X_test)
mae = metrics.mean_absolute_error(y_test,y_hat)
mse = metrics.mean_squared_error(y_test,y_hat)
print ("TEST SET")
print ("========")
print ("MAE:                ", mae)
print ("RMSE:               ", math.sqrt(mse))
print ("r2:                 ", model.score(X_test,y_test))

TEST SET
========
MAE:                 662.5879080301991
RMSE:                1443.9775874349104
r2:                  -0.0143089832504808